*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  background: #080810;
  color: #f0f0f5;
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
}
